.footer {
	background-color: $bgDos;
	padding: 20px 0;
	&__parrafo {
		color: $colorParrafo;
		font-size: 14px;
	}
	&__enlace {
		color: $colorParrafo;
		font-size: 14px;
		transition: .15s ease all;
		&:hover {
			color: $colorHover;
		}
	}
}
